* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.container-cabecalho{
    background-color: rgb(6, 36, 71);
    text-align: center;
    padding: 20px;
}

.container-cabecalho h1{
    color: rgb(28, 134, 255);
}

.container-navegacao{
    background-color: rgb(13, 48, 124);
    padding: 20px;
    text-align: center;
}

.container-navegacao a{
    text-decoration: none;
    font-size: 1.5em;
    color: rgb(53, 189, 252);
    padding: 20px 50px;
}

.container-navegacao a:hover{
    background-color: rgb(14, 67, 212);
    color: white;
}